<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img class="orb-toolbar__logo" src="assets/Images/logoOrbitec.svg" alt="Orbitec CA">
  </mat-toolbar-row>
</mat-toolbar>
<section class="orb-content">
  <div class="orb-content__title">
    <h3 class="orb-content__title">
        Prueba de habilidades - Programador php
    </h3>
  </div>
  <h4>Requerimientos del sistema</h4>
  <ul>
    <li>Usar Laragon</li>
    <li>Instalar Node Js, Para que funcionen las llamadas debe configurar su ip en el  baseUrl: 'http://SU_IP:80/' en el archivo protractor.conf.js, ya que localhost:4200 puede tener restricciones en chrome</li>
    <li>Subir repo a Git</li>
    <li>Instalar Angular Cli</li>
  </ul>
  <p>
    En el correo se le ha adjuntado un archivo excel .csv, el cual debe ser importado de manera tal que se impriman los resultados como se muestran a continuación:
  </p>
  <div class="mat-elevation-z8">
    <table class="orb-table" mat-table [dataSource]="dataSource">

      <!-- id route Column -->
      <ng-container matColumnDef="id_ruta">
        <th mat-header-cell *matHeaderCellDef> ID de ruta </th>
        <td mat-cell *matCellDef="let element"> {{element.id_ruta}} </td>
      </ng-container>
      <!-- driver Column -->
      <ng-container matColumnDef="driver_name">
        <th mat-header-cell *matHeaderCellDef> Chofer </th>
        <td mat-cell *matCellDef="let element"> {{element.driver_name}} </td>
      </ng-container>

      <!-- car Column -->
      <ng-container matColumnDef="car_desc">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let element"> {{element.car_desc}} </td>
      </ng-container>

      <!-- clients Column -->
      <ng-container matColumnDef="number_clients">
        <th mat-header-cell *matHeaderCellDef> Nº Clientes </th>
        <td mat-cell *matCellDef="let element"> {{element.number_clients}} </td>
      </ng-container>

      <!-- travels Column -->
      <ng-container matColumnDef="number_travels">
        <th mat-header-cell *matHeaderCellDef> Nº Viajes </th>
        <td mat-cell *matCellDef="let element"> {{element.number_travels}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <p>Crear los ws necesarios para poder mostrar los datos: </p>
   <br/>
    La ruta de consulta debe ser la siguiente:
    http://SU_DIRECCION_IP/RUTA
   <br/>
    1.- Web service Importación:
   <br/>
    Ruta: /import<br/>
    formData: file: *.csv<br/>
  JSON:<br/>
  <pre>
   {{
    '\{status: string, //  OK o ERROR  \n' +
    'msg: string // Mensaje de la petición\}'
    }}
  </pre>
   <br/>
    2. Web Service Obtención de datos de la Tabla:<br/>
    Ruta: /datatable<br/>
    JSON:<br/>
   <pre>
   {{
    '\{ \n' +
    '    status: string, //  OK o ERROR \n' +
    '    data: Array || null, \n' +
    '    msg: string // Mensaje de la petición\n' +
    '\n   \}'
    }}
  </pre>
    Estructura del array data:
  <pre>
   {{ 'data = [' +
    '{' +
    'id_ruta: string, ' +
    'driver_name: string, ' +
    'car_desc: string, ' +
    'number_clients: number, ' +
    'number_travels: number' +
    '}, ...' +
    ']' }}
  </pre>
  <div>
    <h2>Probar API: </h2>
    <br>
    <br>
    <label class="btn" for="file">Buscar Archivo</label>
    <br>
    <input type="file" id="file" (change)="onFileChange($event)" #fileInput>
    <br>
    <br>
    <button mat-stroked-button color="accent" (click)="sendFile()">Cargar archivo</button>
    <br>
    <p>Respuesta del sistema: <br> {{ response | json }}</p>
    <br>
    <button mat-stroked-button color="accent" (click)="getFiles()">Obtener Datos filtrados</button>
    <br>
    <p>Respuesta del sistema: <br> {{ dataFiltered | json }}</p>
    <br>
  </div>

  <router-outlet></router-outlet>

</section>
