.orb-toolbar {
  &__logo {
    width: 130px;
    resize: none;
  }
}
.orb-content {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  &__title {
    flex: 1;
    justify-content: center;
    text-align: center;
  }
}

.orb-table {
  width: 100%
}
