
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-gray, 800, 700);
$candy-app-accent: mat-palette($mat-red, A700, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-amber);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
$whiteBg: #f5f5f5;
$mat-gray: #5c5c5c;
body, html {
  margin: 0;
  padding: 0;
  background-color: $whiteBg;
  font-family: 'Lato', sans-serif;
  color: $mat-gray
}
